<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.agri_doctor">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE"/>

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Help"
            android:label="@string/title_activity_help"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SplashScreen"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Expert_Connect"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Diagnose"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".About"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Profile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AddDetails"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Register"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>